html {
    height: 100%;
  }
body {
    min-height: 100%;
}

/*  Nav */

/*  Headings   */

h1{
    color: #000;
    font-family: 'Ruslan Display', cursive;
    font-size: 32px;
    margin-bottom: 40px;
} 

/*  Background   */

.bg-primary{
    background-color: #002E21 !important;
}

/*  Buttons   */

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

.btn-outline-primary{
    border-color: #fff;
    border-radius: 10px;    
    color: #fff;
}
.btn-outline-primary:hover{
    background-color: #F5A295;
    border-color: #F5A295;
}       

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F0A590;
}

.btn-primary{
    border: none;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
}

.btn-primary:hover{
    opacity: 0.8; 
}


/*  Home Section */

.home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}   

.home-text{
    text-align: center;
}

.home-icon{
    display: inline-block   ;
}

.home-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}

.home-image{
   height: 100%;
   width: 80%;
    height: auto;
    max-width: 100%;
}